<h1>Profile</h1>
<p>Name: <%= user.name %></p>
<p>Email Address: <%= user.emailAddress %></p>
<img src="/uploads/<%= user.profilePicture %>" alt="Profile Picture">
<p>Gender: <%= user.gender %></p>
<p>Date of Birth: <%= user.dateOfBirth %></p