<div class="detail-background">

<h1>Profile</h1>
<div>Name: <%= user.name %></div>
<div>Email Address: <%= user.emailAddress %></div>
<div>
<img class="profile-Picture" src="<%= user.profilePicture.replace(/public/, '') %>" alt="<%= user.name %> Image" width="400" height="400" ></div>

<div>Gender: <%= user.gender %></div>
<div>Date of Birth: <%= user.dateOfBirth %></div>
</div>