<h1>Update profile</h1>
<form method="POST" action="/auth/update">


  <div>
    <label>Name</label>
    <input type="text" name="name" value="<%= user.name %>"/>
  </div>
  <br>
  <div>
    <label>Email Address</label>
    <input type="email" name="emailAddress" value="<%= user.emailAddress %>"/>
  </div>
  <br>
  <div>
    <label>Password</label>
    <input type="password" name="password" value="<%= user.password %>"/>
  </div>
  <br>
  <div>
    <label>Profile Picture</label>
    <input type="string" name="profilePicture"value="<%= user.profilePicture %>"/>
  </div>
  <br>
  <div>
    <label>gender</label>
<br>
      <input type="radio" name="gender" id="male" value="M" checked>
      <label for="male">Male</label>
<br>
      <input type="radio" name="gender" id="female" value="F">
      <label for="female">Female</label>
  </div>
  <br>
  <div>
    <label>Date Of Birth</label>
    <input type="date" name="dateOfBirth"value="<%= user.dateOfBirth %>"/>
  </div>
  <div><button type="submit">Update</button></div>
</form>