<h1> <%= music.name %> </h1>

<div>
  Author: <%= music.author %>
</div>

<div>
  Description: <%= music.description %>
</div>

<div>
  Lyrics: <%= music.lyrics %>
</div>

<div>
  Image: <img src="<%= music.image.replace(/public/, '') %>" alt="<%= music.name %> Image" width="300" height="200">
</div>

<div>
  Audio: <audio controls>
    <source src="<%= music.audio.replace(/public/, '') %>" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>



<div>
  Created At: <%= moment(music.createdAt).fromNow() %>
</div>

<div>
  Updated At: <%= moment(music.updatedAt).fromNow() %>
</div>

<br>

<h2>Categories</h2>