<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/css/music.css">

  <body>
    <div class="musicplayer">
      <h1 class="music-name"><%= music.name %></h1>
      <p class="artist-name"><%= music.author %></p>
      <img class="disk" src="<%= music.image.replace(/public/, '') %>" alt="">
      <audio id="audio">
        <source src="<%= music.audio.replace(/public/, '') %>" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>


      <div class="song-slider">
        <input type="range" value="0" class="seekbar">
        <span class="current">00:00 <br></span>
        <span class="after">00:00 <br></span>
      </div>
      
      <button class="play-pause">Play</button>

    </div>

    <br><br>
    <div class="categories">
      <h2>Categories</h2>
      <ul>
        <% if (music.category && music.category.length > 0) { %>
          <% music.category.forEach(function (category) { %>
            <div>Category Name: <%= category.name %></div>
          <% }) %>
        <% } else { %>
          <p>The music does not have any categories</p>
        <% } %>
      </ul>
    </div>

    <script src="/script/music.js"></script>
  </body>
</html>
