<link rel="stylesheet" href="/css/music.css">
<body>
<div class="content">
<div>
 <img src="<%= music.image.replace(/public/, '') %>" alt="<%= music.name %> Image" width="300" height="200">
</div>
<div>
<h1> <%= music.name %> </h1>
<div>
<div>
  <h2> <%= music.author %> </h2>
</div>

<div>
    <%= music.description %>
</div>

<div>
   <audio controls>
    <source src="<%= music.audio.replace(/public/, '') %>" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>
<div>
  Lyrics: <%= music.lyrics %>
</div>

<!-- 
<div>
  Created At: <%= moment(music.createdAt).fromNow() %>
</div>

<div>
  Updated At: <%= moment(music.updatedAt).fromNow() %>
</div> -->
</div>
<br><br>
<div class="categories">
<h2>Categories</h2>
<ul>
  <% if (music.category && music.category.length > 0) { %>
    <% music.category.forEach(function (category) { %>
      <li>
        <div>Category Name: <%= category.name %></div>
      </li>
    <% }) %>
  <% } else { %>
    <li>The music does not have any categories</li>
  <% } %>
</ul>
</div>
<body>