<!-- index - Explore - display musics from all users -->
<div class="explore">
  <h1 >EXPLORE !</h1>
  <button style="background-color: transparent; border: 0;"><a href="/music/list" class="btn btn-primary button-style" >Play All</a></button>
</div>


  <div class="cards">
    
    <% musics.forEach(function(music) { %>  
      
      <div class="card" style="width: 18rem;">
        <!-- <a href="/music/detail?id=<%= music._id %>" class="musicname "> -->
          <!-- <div> -->
            
        <img src="<%= music.image.replace(/public/, '') %>" class="card-img-top exploreimg cardImg" alt="<%= music.name %> Image">
        <div class="card-body">
          
          <h5 class="card-title">
            <a href="/music/detail?id=<%= music._id %>" class="musicname ">
            <%= music.name %>
            </a>
          </h5>
          
          <div class="dropdown dropdown1" >
            <a class="btn btn-secondary dropdown-toggle dropdown2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdown-link" >
              <img src="/background/add-to-playlist-w.png" alt="" width="100%"  >
            </a>
            <form action="/music/detail?_method=PUT" method="post">
              <ul class="dropdown-menu">
                <input type="hidden" name="id" value="<%= music._id %>">
                <% userPlaylist.forEach(function(playlist) { %>  
                  
                  <li>
                    <input type="radio" name="playlistID"  value="<%= playlist._id %>">
                    
                    <label><%= playlist.name %></label>
                    
                  </li>
                  
                  <% }) %>
                  <li><button type="submit">Add to Playlists</button></li>
                </ul>
              </form>
            </div>

          </div>
        <!-- </div>
      </a> -->
      </div>
  
  <% }) %>
  
</div>
