<h1>Your Music</h1>

<table class="table table-striped">
  <tr>
    <th>Name of the music</th>
    <th>Author</th>
    <th>Description</th>
    <th>Lyrics</th>
    <th>Image</th>
    <th>Audio</th>
    <th>Created At</th>
    <th>Updated At</th>
  </tr>

  <% musics.forEach(function(music) { %>  
    <tr>
      <td><%= music.name %></td>
      <td><%= music.author %></td>
      <td><%= music.description %></td>
      <td><%= music.lyrics %></td>
      <td><img src="<%= music.image.replace(/public/, '') %>" alt="<%= music.name %> Image" width="300" height="200"></td>
      <td>
        <audio controls>
          <source src="<%= music.audio.replace(/public/, '') %>" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </td>
      <td><%= moment(music.createdAt).fromNow() %></td>
      <td><%= moment(music.updatedAt).fromNow() %></td>
    </tr>
  <% }) %>
</table>
